<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Models.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacHero"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ShowUserFollowersAndFollowingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchingAboutFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowPlayerAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginAndCreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlayerMessangerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowPlayerProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowPlayerNotificationsActivity"
            android:exported="false" />

        <service
            android:name=".Services.NotificattionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.PlayOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RoundRoomSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchAboutPlayer2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlayWithDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlayWithFriendModeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectPlayModeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>